<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link" >На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>18.10.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut beatae dolore et exercitationem fugit illo illum iusto minima neque pariatur, porro quia quo quos sapiente sunt vitae voluptas voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut beatae dolore et exercitationem fugit illo illum iusto minima neque pariatur, porro quia quo quos sapiente sunt vitae voluptas voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut beatae dolore et exercitationem fugit illo illum iusto minima neque pariatur, porro quia quo quos sapiente sunt vitae voluptas voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut beatae dolore et exercitationem fugit illo illum iusto minima neque pariatur, porro quia quo quos sapiente sunt vitae voluptas voluptatem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut beatae dolore et exercitationem fugit illo illum iusto minima neque pariatur, porro quia quo quos sapiente sunt vitae voluptas voluptatem.</p>
  </div>


</div>
